html {
  background: var(--color-bg-default);
}

body {
  inline-size: min(640px, calc(100% - var(--space-8)));
  color: var(--color-text-default);
  font: var(--font-weight-normal) 16px/1.4 var(--font-default);
}

h1,
h2,
h3 {
  font-family: var(--font-default);
  font-weight: var(--font-weight-bold);
}

:focus-visible {
  outline: 2px solid var(--focus);
  outline-offset: 3px;

  /* TODO: add tansition */
}
