.jm-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-control);

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      translate: 0 var(--space-1);
    }
  }

  span {
    white-space: nowrap;
  }

  &.ghost:not(:disabled) {
    color: var(--control-ghost-text);
    background: var(--control-ghost-background);
    
    &:is(:hover, :focus) {
      color: var(--control-ghost-text-hover);
      background: var(--control-ghost-background-hover);
    }
  }

  &.secondary:not(:disabled) {
    color: var(--control-secondary-text);
    background: var(--control-secondary-background);

    &:is(:hover, :focus) {
      color: var(--control-secondary-text-hover);
      background: var(--control-secondary-background-hover);
    }
  }

  &.primary:not(:disabled) {
    color: var(--control-primary-text);
    background: var(--control-primary-background);

    &:is(:hover, :focus) {
      color: var(--control-primary-text-hover);
      background: var(--control-primary-background-hover);
    }
  }

  &.xs {
    min-inline-size: var(--size-control-xs);
    block-size: var(--size-control-xs);
    padding-inline: var(--space-3);
    gap: var(--space-2);
  }

  &.s {
    min-inline-size: var(--size-control-s);
    block-size: var(--size-control-s);
    padding-inline: var(--space-3);
    gap: var(--space-2);
  }

  &.m {
    min-inline-size: var(--size-control-m);
    block-size: var(--size-control-m);
    padding-inline: var(--space-3);
    gap: var(--space-2);

    span {
      padding: 0 var(--space-3);
    }
  }

  &:disabled {
    background: var(--control-disabled-background);
    border-color: var(--control-disabled-background);
    color: var(--control-disabled-text);
    cursor: not-allowed;
  }
}
