.jm-tabs {
  overflow-x: auto;

  ul {
    display: flex;
    padding: var(--space-3);
    background-color: var(--control-secondary-background);
    border-radius: var(--size-control-m);
  }

  a {
    display: block;
    padding: var(--space-3) var(--space-4);
    border-radius: calc(var(--size-control-m) - var(--space-3));
  }

  a:is(:hover, :focus-visible, [aria-current="page"]) {
    color: var(--color-text-default);
    background: var(--color-bg-selection);
  }

  a:active {
    translate: 0 var(--space-1);
  }
}
