.jm-select {
  inline-size: 100%;
  border-radius: var(--radius-control);
  cursor: pointer;

  &, &::picker(select) {
    appearance: base-select;
  }

  &::picker(select) {
    min-inline-size: min(200px, calc(100vw - var(--space-3)));
    max-inline-size: calc(100vw - var(--space-3));
    max-block-size: min(24rem, 70vh);
    padding: var(--space-2);
    margin-block-start: var(--space-2);
    background: var(--color-bg-surface);
    border: 0;
    border-radius: var(--radius-popover);
    box-shadow: var(--shadow-m);
    backdrop-filter: blur(var(--blur-s));
  }

  option {
    display: flex;
    gap: var(--space-4);
    align-items: center;
    padding: var(--space-3) var(--space-4);
    border-radius: calc(var(--radius-popover) - var(--space-2));
    
    &:not(:disabled) {
      cursor: pointer;

      &:is(:hover, :focus, :active) {
        background: var(--control-ghost-background-hover);
      }
    }

    &:disabled {
      color: var(--control-disabled-text);
      cursor: not-allowed;
    }
  }

  &::picker-icon,
  & option::checkmark,
  .check {
    display: none;
  }
  
  &.xs {
    display: grid;
    place-content: center;
    width: var(--size-control-xs);
    height: var(--size-control-xs);
    padding: 0;
    border: 0;

    .icon {
      width: 12px;
      height: 12px;
    }

    .chevron,
    .button .text {
      display: none;
    }
  }
}