.profile-page {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  padding-block-end: calc(var(--space-10) + var(--size-control-m));
}

.profile-page__header p {
  margin-block-start: var(--space-2);
  color: #f0f;
  font-size: 0.875rem;
}

.profile-page__header {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: space-between;
}

.empty {
  padding: var(--space-6);
  text-align: center;
}

.activity-day {
  .check {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    inline-size: 24px;
    block-size: 24px;
    margin-inline-start: -33px;
    color: contrast-color(var(--color-bg-accent));
    background: var(--color-bg-accent);
    border-radius: 50%;
  }
}

.activity-day h3 {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  font-weight: normal;

  &::before, &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--control-default-border);
  }
}

.activity-day ul {
  margin-inline-start: var(--space-5);
  border-inline-start: 2px solid var(--control-default-border);
}

.activity-day li {
  display: flex;
  gap: var(--space-3);
  align-items: flex-start;
  padding: var(--space-5) 0 var(--space-5) var(--space-6);
}

.activity-day li p {
  font-weight: var(--font-weight-bold);
}

.activity-day li a,
.activity-day li div > span {
  color: #f0f;
  font-size: 0.75rem;
}

.activity-day li a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.activity-day li a:is(:hover, :focus-visible, :active) {
  background: #f0f;
}
