input[type="number"] {
  position: relative;
  overflow: visible;
}
input[type="number"]::-webkit-inner-spin-button {
  cursor: pointer;
  background-color: red;
  border: 1px solid green;

  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 20px;
  aspect-ratio: 1/2;
  padding: 0;
  visibility: inherit;
  transform-origin: top left;
  rotate: 90deg;
}