.jm-input {
  position: relative;

  &.default input {
    border-radius: var(--radius-control);
    border: 1px solid var(--control-default-border);
  }

  &.ghost input {
    border: 0;
    background-color: transparent;
  }

  &.xs input {
    height: var(--size-control-xs);
  }

  &.s input {
    height: var(--size-control-s);
  }

  &.m input {
    height: var(--size-control-m);
  }

  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  .suffix {
    color: var(--color-text-secondary);
    font-size: 0.6875rem;
  }

  &:has(.suffix) {
    display: flex;
    align-items: baseline;
    gap: var(--space-2);
    font-family: var(--font-mono);

    input[type="number"] {
      text-align: right;
    }
  }
}
