.task-item {
  margin-inline: 0;
  padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
  display: flex;
  align-items: flex-start;
  border-radius: var(--radius-control);

  &:not(:disabled):hover {
    background-color: var(--control-ghost-background-hover);
  }

  .content {
    flex-grow: 1;

    &:not(:last-child) {
      padding-right: var(--space-3);
    }
  }

  .task-title textarea {
    resize: none;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .checkbox {
    translate: 0 0.15rem;
  }

  .actions {
    margin: calc(-1 * var(--space-2));
    margin-left: 0;
  }

  .checkbox,
  .actions {
    flex-shrink: 0;
  }

  &.completed .content {
    color: var(--color-text-secondary);
    text-decoration: line-through;
  }

  .details {
    margin-block-start: var(--space-1);
    color: var(--color-text-secondary);
    font-size: 0.75rem;

    .filament {
      display: flex;
      gap: var(--space-2);
    }

    .missing {
      color: var(--color-text-accent);
      font-size: 0.6875rem;
    }
  }
}

.checkbox {
  position: relative;
  appearance: none;
  margin: 0 var(--space-3) 0 0;
  display: grid;
  place-content: center;
  border: 1px solid transparent;
  width: var(--size-checkbox);
  height: var(--size-checkbox);
  border-radius: var(--radius-checkbox);
  box-shadow: 0 24px 16px -20px rgb(0 0 0 / 25%);

  &:not(:disabled) {
    border-color: var(--control-default-border);
    background-color: var(--control-default-background);
    color: var(--control-default-text);
    cursor: pointer;
  }

  &:not(:disabled):checked {
    background-color: var(--control-primary-background);
    border-color: var(--control-primary-background);
    color: var(--control-primary-text);
  }

  &:checked::before {
    content: "";
    position: absolute;
    inset: 50%;
    width: 11.92px;
    height: 7.92px;
    clip-path: shape(
      from 91.26% 2.01%,
      curve to 98.67% 2.64% with 93.42% -0.9%/96.74% -0.62%,
      curve to 98.25% 13.78% with 100.6% 5.89%/100.41% 10.87%,
      line to 35.59% 97.99%,
      curve to 28.31% 97.57% with 33.49% 100.82%/30.27% 100.64%,
      line to 1.46% 55.47%,
      curve to 1.61% 44.31% with -0.55% 52.33%/-0.47% 47.33%,
      curve to 9.03% 44.53% with 3.7% 41.29%/7.03% 41.38%,
      line to 32.38% 81.14%,
      line to 91.26% 2.01%,
      close
    );
    background-color: contrast-color(currentcolor);
    translate: -50% -50%;
  }

  &:disabled:is(:hover, :active, :focus) {
    outline: none;
    background: var(--control-disabled-background);
    color: var(--control-disabled-text);
    border-color: var(--control-disabled-border);
    cursor: not-allowed;
  }
}
