:root {
  color-scheme: light;

  --color-bg-default: light-dark(#f6f6f6, #f6f6f6);
  --color-bg-secondary: light-dark(#e4e4e4, #e4e4e4);
  --color-bg-surface: light-dark(
    rgb(250 250 250 / 95%),
    rgb(250 250 250 / 95%)
  );
  --color-bg-selection: light-dark(#fff, #fff);

  --color-activity-0: #eef0f2;
  --color-activity-1: #d1e7dd;
  --color-activity-2: #93c9ad;
  --color-activity-3: #5b9d7c;
  --color-activity-4: #2f6f51;

  --blur-s: 8px;
  --blur-m: 12px;

  --radius-checkbox: 6px;
  --radius-control: 12px;
  --radius-popover: 12px;
  --radius-calendar: 24px;
  --radius-card: 32px;

  --corner-shape-default: superellipse(1.5);

  --size-control-xs: 24px;
  --size-control-s: 32px;
  --size-control-m: 40px;
  --size-checkbox: 20px;
  --size-header: 50px;
  --size-icon: 16px;

  --shadow-s: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --shadow-m: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;

  --control-default-background: light-dark(#fff, #fff);
  --control-default-border: light-dark(#e5e5e5, #e5e5e5);
  --control-default-text: light-dark(#333, #333);

  --control-primary-background: light-dark(#333, #333);
  --control-primary-background-hover: light-dark(#454545, #454545);
  --control-primary-text: light-dark(#fafafa, #fafafa);
  --control-primary-text-hover: light-dark(#fafafa, #fafafa);

  --control-secondary-background: light-dark(
    rgb(51 51 51 / 5%),
    rgb(51 51 51 / 5%)
  );
  --control-secondary-background-hover: light-dark(#e6e6e6, #e6e6e6);
  --control-secondary-text: light-dark(
    var(--color-text-default),
    var(--color-text-default)
  );
  --control-secondary-text-hover: light-dark(
    var(--color-text-default),
    var(--color-text-default)
  );

  --control-ghost-background: light-dark(transparent, transparent);
  --control-ghost-background-hover: light-dark(
    rgb(51 51 51 / 5%),
    rgb(51 51 51 / 5%)
  );
  --control-ghost-text: light-dark(
    var(--color-text-default),
    var(--color-text-default)
  );
  --control-ghost-text-hover: light-dark(
    var(--color-text-default),
    var(--color-text-default)
  );

  --control-disabled-background: light-dark(#e8e8e8, #e8e8e8);
  --control-disabled-text: light-dark(#ccc, #ccc);
  --control-disabled-border: light-dark(#ddd, #ddd);

  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 40px;
  --space-10: 48px;
  --space-12: 80px;
}
